.main {
  color: $text;
}

.main__title {
  width: 290px;
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

@media (min-width: $w510) {
  .main__title {
    width: 510px;

    font-size: 30px;
  }
}

@media (min-width: $w690) {
  .main__title {
    width: 690px;
    margin-bottom: 40px;

    font-size: 36px;
  }
}

@media (min-width: $w930) {
  .main__title {
    width: 780px;
    margin-bottom: 0;

    font-size: 40px;
  }
}

@media (min-width: $w1300) {
  .main__title {
    width: 780px;
    margin-bottom: 0;

    font-size: 55px;
  }
}
